.cta-container {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  flex-direction: column; /* Stack items vertically */
  background-color: antiquewhite;
  margin-top: 50px;
  padding: 30px;
}

.cta-button {
  padding: 12px 24px;
  font-size: 14px;
  background-color: #951c26;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Add space between text and button */
}
.cta-container h2 {
  font-size: 2em; /* Default font size for larger screens */
  color: #333; /* Example text color */
  margin-bottom: 20px; /* Space below the heading */
}
.cta-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .cta-container {
    flex-direction: row; /* Align items side by side on larger screens */
  }

  .cta-button {
    margin-top: 0; /* Reset margin for button */
    margin-left: 20px; /* Add space between text and button */
  }
}
