/* ChatWidget.css */
.WA_Chat_Widget * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.WA_Chat_Widget .WA_FloatingButton {
  position: fixed;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.185);
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}

.WA_Chat_Widget .WA_FloatingButton svg {
  width: 40px;
  height: 40px;
  fill: #4fce5d;
}

.WA_Chat_Widget .WA_ChatBox {
  position: fixed;
  width: 360px;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.1);
  display: none;
  bottom: 110px;
  right: 30px;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header {
  width: auto;
  background: #095e54;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox {
  width: 85px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .name {
  color: #fff;
  font-weight: 600;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .answer_time {
  color: #e4e4e4;
  font-size: 14px;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close svg {
  fill: #ffff;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body {
  padding: 20px;
  background: #e6ddd4;
  position: relative;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(./bg-pattern.png);
  opacity: 0.1;
  z-index: 0;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message {
  max-width: 280px;
  background: #fff;
  padding: 20px;
  padding-top: 10px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  left: -10px;
  top: 0px;
  border-radius: 3px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .username {
  color: darkgray;
  font-weight: 500;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .message_content {
  font-size: 14px;
  color: #000;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer {
  padding: 20px;
  background-color: #fff;
  width: 100%;
}
.WA_Chat_Widget .WA_ChatBox_Footer a {
  padding: 5px 10px;
  
}
