.title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 70px 0 30px;
}

.title h1 {
  color: black;
  font-size: 32px;
  margin-top: 5px;
}

.title p {
  color: brown;
  margin-top: 5px;
  text-transform: uppercase;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .title {
      font-size: 18px; /* Adjusted font size for tablets */
      margin: 50px 0 20px; /* Adjusted margin for tablets */
  }

  .title h1 {
      font-size: 28px; /* Adjusted font size for tablets */
      margin-top: 3px; /* Adjusted margin for tablets */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .title {
      font-size: 16px; /* Adjusted font size for mobile devices */
      margin: 40px 0 15px; /* Adjusted margin for mobile devices */
  }

  .title h1 {
      font-size: 24px; /* Adjusted font size for mobile devices */
      margin-top: 2px; /* Adjusted margin for mobile devices */
  }
}
